# Build and Release Folders
#bin-debug/
#bin-release/
#[Oo]bj/
#[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.xml

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/data/
/imgs/
/lightning_logs/
/logsforme/
/__pycache__/
/.git/
/.idea/
/manuscript/
/logs/
/datamodule/attach_patches.py
/datamodule/extract_testdata_patches.py
/datamodule/generate_train_patches.py
/datamodule/prepare_json_dataset.py
/module/ucaps_2layers.py
/module/ucaps_5layers.py
